name: "build"
on:
  push:
    paths-ignore:
      - 'CHANGELOG.md'
      - 'LICENSE'
      - 'README.md'
      - 'renovate.json'
  pull_request:
  workflow_dispatch:
jobs:
  launch-linux:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4.2.2
      - uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - name: Test Python
        run: |
          cd src/main/python
          pip install -r requirements.txt
          python sample.py 
          python charts.py
      - uses: actions/setup-java@v4.6.0
        with:
          distribution: 'adopt'
          java-version: '8'
      - name: Test Gradle
        run: |
          chmod +x ./gradlew
          ./gradlew --stacktrace --scan

  release:
    needs:
      - launch-linux
    if: github.event_name == 'push'
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4.2.2
      - name: Install Node
        uses: actions/setup-node@v4.2.0
        with:
          node-version-file: package.json
      - uses: actions/setup-java@v4.6.0
        with:
          distribution: 'adopt'
          java-version: '8'
      - name: Deploy
        run: |
          ./gradlew shadowJar
          mkdir -p dist/
          cp build/libs/* dist/
      - name: Release
        run: |
          npm install
          npx semantic-release
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
